<h1>{{ data.pokemonName }}</h1>

<img src="{{ base.url }}public/assets/images/pokemons/{{ data.pokemonNumber }}.png" alt="{{ data.pokemonName }}" draggable="false">

<span class="return" style="cursor:pointer;">Return</span>

<form method="post" action="./" style="display:none;">
    <input type="hidden" name="positionX" value="{{ data.positionX }}">
    <input type="hidden" name="positionY" value="{{ data.positionY }}">
    <input type="submit" value="Submit">
</form>