<div class="container container-catch">
    <h1>{{ data.pokemon.name }}</h1>
    <img src="{{ base_url() }}/assets/images/pokemons/{{ data.pokemon.img }}" alt="{{ data.pokemon.name }}" draggable="false">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{{ path_for('home') }}" title="Return">Return</a>
    {{ include('./layouts/rectangles.twig', { classRectangles : 'active' }) }}
</div>