<div class="container container-catch">
    <h1>A wild {{ data.pokemon.name }} appears !</h1>
    <div class="minigame">
        <img class="appearance" src="{{ base_url() }}/assets/images/pokemons/{{ data.pokemon.img }}" alt="{{ data.pokemon.name }}" draggable="false">
        <img class="illustration" src="{{ base_url() }}/assets/images/player/illustration.png" alt="Illustration" draggable="false">
    </div>
    {{ include('./layouts/rectangles.twig', { classRectangles: 'active' }) }}
</div>