<div class="container container-map">
    <img class="top"    src="{{ base_url() }}/assets/images/interface/top.png"    alt="Top"    draggable="false">
    <img class="right"  src="{{ base_url() }}/assets/images/interface/right.png"  alt="Right"  draggable="false">
    <img class="bottom" src="{{ base_url() }}/assets/images/interface/bottom.png" alt="Bottom" draggable="false">
    <img class="left"   src="{{ base_url() }}/assets/images/interface/left.png"   alt="Left"   draggable="false">
    <img class="map"    src="{{ base_url() }}/assets/images/interface/map.png"    alt="Map"    draggable="false">
    <img class="crush"  src="{{ base_url() }}/assets/images/interface/crush.png"  alt="Crush"    draggable="false">
    <div class="character">
        <img class="sprite" src="{{ base_url() }}/assets/images/interface/sprite.png" alt="Sprite" draggable="false">
    </div>
</div>