<div class="container container-pokedex">
    <div class="top-bar"></div>
    <div class="top-corner">
        <a href="{{ path_for('home') }}" title="Home">
            <div class="top-button-glass">
                <div class="reflect"></div>
            </div>
        </a>
        <div class="top-button top-button-red"></div>
        <div class="top-button top-button-yellow"></div>
        <div class="top-button top-button-green"></div>
    </div>
    <div class="content">
        <div class="junctions">
            <div class="junction junction-top"></div>
            <div class="junction junction-bottom"></div>
        </div>
        <div class="cards">
            {% for _pokemon in data.pokemons %}
                <div class="card">
                    <img class="card-img {{ _pokemon.is_owned ? : 'unknown' }}" src="{{ base_url() }}/assets/images/pokemons/{{ _pokemon.img }}" alt="{{ _pokemon.name }}" draggable="false">
                    <div class="card-body">
                        <h5 class="card-title">{{ _pokemon.is_owned ? _pokemon.name : '???' }}</h5>
                        <p class="card-text">#{{ _pokemon.num }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>