<head>
    {# Meta #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"   content="ie=edge">
    <meta name="viewport"                content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffcf00">
    <meta name="theme-color"             content="#ffffff">
    {# Title #}
    <title>{{ base.title }}</title>
    {# Icons #}
    <link rel="apple-touch-icon"      sizes="180x180" href="{{ base.url }}public/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="{{ base.url }}public/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="{{ base.url }}public/assets/favicons/favicon-16x16.png">
    <link rel="manifest"  href="{{ base.url }}public/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ base.url }}public/assets/favicons/safari-pinned-tab.svg" color="#ffcf00">
    {# Styles #}
    <link rel="stylesheet" type="text/css" href="{{ base.url }}public/styles/app.css">
</head>